<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Webcam-mirror - Your online mirror{% endblock %}</title>
    <meta charset="utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" type="text/css" />
        {# Css for search input with autocomplete #}
        <link rel="stylesheet" href="{{ asset('bundles/site/js/lib/jquery-ui/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" />
    {% endblock %}
    <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/png" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />

    <meta name="Robots" content="index,follow" />
</head>

<body>
    {% block body %}{% endblock %}

    {% raw %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-348385-4']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endraw %}
</body>
</html>