body{height:100%; margin:0; font-size:80%; font-family:"Arial","Times New Roman"; color:black; background:/*url(../images/fond.png) repeat-x*/ #b3cceb;}

#logo{position:absolute; left:10px; top:10px;}

#container{width:980px; padding:20px; margin:10px auto 0 auto; background:url(../images/fond_webcam.png) left top no-repeat;}
	.webcam{float:left; width:640px;}
		#footer{margin:30px 0 0 0; text-align:center;}
		#presentation{margin:20px auto 0 auto; width:640px; text-align:left;}
			#presentation ul{padding:0 0 0 25px;}
	.pub{float:left; margin:-20px 0 0 30px; width:300px;}


/***************************   balises HTML   ***********************************/

a, a:visited{color: black; text-decoration: none;}
a:hover{color: #6b33a0;	text-decoration: underline;}

hr{background-color: black;}

table.border, table.border td, table.border th
{
	border-collapse: collapse;
	border: 1px solid black;	
}

small{font-size: 80%;}

/***********************   présentation générale   *******************************/

.border_test{border:1px solid blue;}

.align_left{text-align: left;}
.align_center{text-align: center;}
.align_right{text-align: right;}
.align_justify{text-align: justify;}

.float_left{float: left;}
.float_right{float: right;}
.clear_both{clear: both;}

.bloc_centre{margin-left:auto; margin-right:auto;}

.display_none{display: none;}
.display_block{display: block;}
.display_inline{display: inline;}
.contenu_cache{visibility: hidden;}


.bold{font-weight: bold;}
.italic{font-style: italic;}
.small{font-size: 90%;}

::-moz-selection{background: #0a246a; color: white;}
.pointer{cursor:pointer;}

.img_border{border: 1px solid black;}
.no_border{border:0;}

/*************************   Marges   ***********************************/

.no_padding_margin{padding:0; margin:0;}
.no_padding{padding:0;}
.no_margin{margin:0;}

.padding_5{padding: 5px;}
.padding_10{padding: 10px;}
.padding_20{padding: 20px;}

.padding_top_5{padding-top: 5px;}
.padding_top_10{padding-top: 10px;}
.padding_top_15{padding-top: 15px;}
.padding_top_20{padding-top: 20px;}

.padding_left_5{padding-left: 5px;}
.padding_left_10{padding-left: 10px;}
.padding_left_15{padding-left: 15px;}
.padding_left_20{padding-left: 20px;}

.padding_right_5{padding-right: 5px;}
.padding_right_10{padding-right: 10px;}
.padding_right_20{padding-right: 20px;}
.padding_right_50{padding-right: 50px;}

.padding_bottom_5{padding-bottom: 5px;}
.padding_bottom_10{padding-bottom: 10px;}
.padding_bottom_20{padding-bottom: 20px;}

.margin_top_5{margin-top: 5px;}
.margin_top_10{margin-top: 10px;}
.margin_top_15{margin-top: 15px;}
.margin_top_20{margin-top: 20px;}
.margin_top_30{margin-top: 30px;}

.margin_left_5{margin-left: 5px;}
.margin_left_10{margin-left: 10px;}
.margin_left_20{margin-left: 20px;}

.margin_right_5{margin-right: 5px;}
.margin_right_10{margin-right: 10px;}
.margin_right_20{margin-right: 20px;}

.margin_bottom_5{margin-bottom: 5px;}
.margin_bottom_10{margin-bottom: 10px;}
.margin_bottom_20{margin-bottom: 20px;}
.margin_bottom_30{margin-bottom: 30px;}

.padding_margin_top_0{padding-top:0; margin-top:0;}
.padding_margin_bottom_0{padding-bottom:0; margin-bottom:0;}

/************************   Formes textes   **********************************/

.font_09{font-size: 9px;}
.font_10{font-size: 10px;}
.font_11{font-size: 11px;}
.font_12{font-size: 12px;}
.font_13{font-size: 13px;}
.font_14{font-size: 14px;}
.font_15{font-size: 15px;}
.font_16{font-size: 16px;}
.font_17{font-size: 17px;}
.font_18{font-size: 18px;}
.font_19{font-size: 19px;}
.font_20{font-size: 20px;}
.font_22{font-size: 22px;}
.font_23{font-size: 23px;}
.font_25{font-size: 25px;}
.font_28{font-size: 28px;}
.font_30{font-size: 30px;}
.font_35{font-size: 35px;}